---
layout: main
---

<section class="physio mb-5">
  <div class="container text-center mb-4">
    <h2>Athletic Therapy</h2>
    <hr />
    <p>Athletic Therapy is a health care profession that specializes in the prevention, assessment and care of musculoskeletal disorders (muscles, bones, joints) especially as they relate to athletics and the pursuit of physical activity.</p>
    <p>A Certified Athletic Therapist / CAT(C) utilizes current research-based rehabilitative techniques, therapeutic modalities, physical reconditioning and supportive strapping procedures to promote optimal healing and prepares the individual for safe reintegration into an active lifestyle.</p>
    <p>Athletic Therapists adhere to the Sports Medicine Model of care and treat a wide range of patients, from kids with concussions to seniors recovering from hip replacement surgery. The treatment varies but the objective doesn’t: an Athletic Therapist's goal is to help clients return to their usual activities, whether that means playing competitive sports or walking to the mailbox and back.</p>
    <p>To find out more visit <a href="www.athletictherapybc.ca">www.athletictherapybc.ca</a></p>
  </div>

  <div class="container mb-4">
    <h3 class="mb-4">Therapists</h3>

    <ul class="list-unstyled">
      <li class="media">
        <img src="/img/profile-logan.png" class="pr-4" style="max-width: 15rem;"/>
        <div class="media-body">
          <h4 class="media-heading">Logan Jacobs</h4>
          {% include bio/logan.html %}
        </div>
      </li>
    </ul>
  </div>

  <div class="container mb-4">
    <h3 class="mb-4">Costs</h3>
    {% include costs/athletic.html %}
  </div>
</section>

<section class="mb5">
  {% include contact.html %}
</section>