---
title: Manual Therapy Service | Cascadia Massage and Health Centre
layout: main
description: Cascadia Massage and Health Centre offers manual therapy in Victoria
  BC. Please visit our site to learn more.
---

<section class="physio mb-5">
  <div class="container text-center mb-4">
    <h2>Manual Therapy</h2>
    <hr />
  </div>

  <div class="container mb-4">
    <h3 class="mb-4">Therapists</h3>

    <ul class="list-unstyled">
      <li class="media">
      </li>
    </ul>
  </div>

  <div class="container mb-4">
    <h3 class="mb-4">Costs</h3>
    {% include costs/manual-therapy.html %}
  </div>
</section>

<section class="mb5">
  {% include contact.html %}
</section>