---
layout: main
---

<section class="physio mb-5">
  <div class="container text-center mb-4">
    <h2>Manual Therapy</h2>
    <hr />
  </div>

  <div class="container mb-4">
    <h3 class="mb-4">Therapists</h3>

    <ul class="list-unstyled">
      <li class="media">
        <img src="/img/profile-pics/reko.jpg" class="pr-4" style="max-width: 15rem;"/>
        <div class="media-body">
          <h4 class="media-heading">Reko (Reiss) Williams</h4>
          {% include bio/reko.html %}
        </div>
      </li>
    </ul>
  </div>

  <div class="container mb-4">
    <h3 class="mb-4">Costs</h3>
    {% include costs/manual-therapy.html %}
  </div>
</section>

<section class="mb5">
  {% include contact.html %}
</section>