---
layout: main
---

<section class="physio mb-5">
  <div class="container text-center mb-4">
    <h2>Registered Massage Therapy</h2>
    <hr />
    <p></p>
  </div>

  <div class="container mb-4">
    <h3 class="mb-4">Therapists</h3>

    <ul class="list-unstyled">
      <li class="media">
        <img src="/img/profile-colleen.jpg" class="pr-4" style="max-width: 15rem;"/>
        <div class="media-body">
          <h4 class="media-heading">Colleen Bruce</h4>
          {% include bio/colleen.html %}
        </div>
      </li>
      <li class="media">
        <img src="/img/profile-bex.jpg" class="pr-4" style="max-width: 15rem;"/>
        <div class="media-body">
          <h4 class="media-heading">Rebecca Tranter</h4>
          {% include bio/bex.html %}
        </div>
      </li>
    </ul>
  </div>

  <div class="container mb-4">
    <h3 class="mb-4">Costs</h3>
    {% include costs/registered-massage.html %}
  </div>
</section>

<section class="mb5">
  {% include contact.html %}
</section>