<p>Logan attended Camosun College receiving his Bachelor’s of Athletic and Exercise Therapy (BAET), he is a Canadian Red Cross Certified First Responder and a Certified Athletic Therapist.</p>

<p>Born and raised in the West Kootenays, Logan moved to Victoria in 2015 to pursue his degree and career and to enjoy what the West Coast has to offer! As an outdoor enthusiast Logan gets outside every chance he can, frequently exploring the beautiful parts of Vancouver Island.</p>

<p>Believing in this philosophy of "an ounce of prevention is worth a pound of cure", Logan is dedicated to carefully listening to his clients, providing a skilled in-depth assessment, discovering the core of the problem, and working together through exercise and awareness to prevent a recurrence from happening in the future.</p>

<p>Logan has worked with a variety of programs and sport including:</p>

<ul>
  <li>St. Michaels University School - School Sport Program</li>
  <li>University of Victoria Men’s Rugby Teams - Reserve, Division 1, and Premier Leagues</li>
  <li>Varsity Level Sport including: basketball, rugby, soccer, field hockey, and rowing</li>
  <li>The AET Clinic and the Sport Injury Clinic at the University of Victoria</li>
  <li>TransRockies Single Track 6 Mountain Bike Series - Medical Volunteer</li>
  <li>Facilitator of the HATTRICK Program in 2018 - a men’s health and fitness initiative that formed part of a research project by UBC Okanagan.</li>
</ul>