<header class="jumbotron jumbotron-fluid mb-5 cascadia-banner">
  <div class="media px-5">
    <a href="/">
      <img class="logo mr-5" src="/img/logo-cascadia-no-text.jpg" style="max-width:12rem" alt="Logo for Cascadia Massage and Health Center"/>
    </a>
    <div class="media-body">
      <h1><a href="/" class="link-unstyled">{{ site.title }}</a></h1>
      <p class="lead">{{ site.description }}</p>
      <hr class="my-4">
      <a target="_blank" href="https://book.click4time.com/cascadiamassagetherapy/book/step1" class="btn btn-primary btn-lg" role="button">Book</a>
    </div>
  </div>
</header>