<div class="container">
  <h3>Mei Zen Acupuncture:</h3>
  <p>Based in Traditional Chinese Medicine, Mei Zen Cosmetic Acupuncture, which translates to “beautiful person”, is a safe and natural facial-rejuvenation therapy to help slow the aging process. The state of one's physical and emotional health is reflected on the skin. Mei Zen Acupuncture offers results that are more than skin-deep. By addressing one's underlying root cause of imbalance, one can expect to look and feel better.</p>

  <p>Mei Zen practitioners utilize acupuncture points along energy channels on the face and neck with tiny dermal needles. The unique and superficial needling technique creates 'micro-traumas' of the skin, which stimulate the body's healing response by increasing blood flow to the area, and boosts the production of collagen and elastin to tighten the skin matrix. As this system is rooted in TCM, points are also chosen along the body to balance the body's energetic systems and help ease the nervous system into a relaxed 'rest & digest' state. In doing so, the positive effects of Mei Zen Acupuncture can be felt systemically.  Alongside needling, we will also discuss how lifestyle, skincare, diet, and supplementation play a key role to overall health.</p>

  <p>Reported benefits of Mei Zen Cosmetic Acupuncture:</p>
  <ul>
    <li>Improvement of fine lines of the face and neck</li>
    <li>Diminished appearance of deep wrinkles</li>
    <li>Reduced puffiness</li>
    <li>Softer, more radiant skin</li>
    <li>Improved muscle tone and decreased muscle tension of face, neck, and jowls</li>
    <li>Improved overall complexion and skin tone</li>
    <li>Improvement of acne, broken capillaries, and rosacea</li>
    <li>Reduction of age spots</li>
    <li>Improved elasticity of skin</li>
    <li>Face and Neck protocols can also benefit TMJ / facial pain and thyroid disorders</li>
  </ul>

  <p>General Health Benefits:</p>
  <ul>
    <li>Improved quality of sleep</li>
    <li>Improvement of mild anxiety / depression</li>
    <li>Improved menstrual cycle</li>
    <li>Hot flashes</li>
    <li>Digestive symptoms</li>
    <li>Increased energy</li>
  </ul>

</div>