<table class="table" style="max-width: 65rem; margin: auto;">
    <thead>
        <th>Time</th>
        <th>Cost</th>
        <th>Note</th>
    </thead>
    <tbody>
    <tr>
        <td>90 Mins</td>
        <td>$110.00</td>
        <td>Initial treatment. A comprehensive patient intake and history, consultation on treatment plan, and treatment.</td>
    </tr>
    <tr>
        <td>60 Mins</td>
        <td>$80.00</td>
        <td>Follow-up treatment.</td>
    </tr>
    <tr>
        <td>30 Mins</td>
        <td>$40.00</td>
        <td>Cupping/Gua Sha. <br/> For returning patients only please. These modalities can be requested as a part of you Acupuncture treatment, and will be offered by your practitioner when applicable to your treatment plan.</td>
    </tr>
    <tr>
        <td>75 Mins</td>
        <td>$110.00</td>
        <td>Mei Zen Cosmetic Acupuncture</td>
    </tr>
    </tbody>
</table>