<p>Athletic Therapy is a health care profession that specializes in the prevention, assessment and care of musculoskeletal disorders (muscles, bones, joints) especially as they relate to athletics and the pursuit of physical activity.</p>

<p>A Certified Athletic Therapist / CAT(C) utilizes current research-based rehabilitative techniques, therapeutic modalities, physical reconditioning and supportive strapping procedures to promote optimal healing and prepares the individual for safe reintegration into an active lifestyle.</p>

<p>Athletic Therapists adhere to the Sports Medicine Model of care and treat a wide range of patients, from kids with concussions to seniors recovering from hip replacement surgery. The treatment varies but the objective doesn’t: an Athletic Therapist's goal is to help clients return to their usual activities, whether that means playing competitive sports or walking to the mailbox and back.</p>

<p>To find out more visit <a href="www.athletictherapybc.ca">www.athletictherapybc.ca</a></p>