<table class="table" style="max-width: 65rem; margin: auto;">
    <thead>
        <th>Time</th>
        <th>Cost</th>
        <th>Note</th>
    </thead>
    <tbody>
        <tr>
            <td>30 Mins</td>
            <td>$60.00</td>
            <td>for subsequent/returning visits only please</td>
        </tr>
        <tr>
            <td>45 Mins</td>
            <td>$80.00</td>
            <td></td>
        </tr>
        <tr>
            <td>60 Mins</td>
            <td>$100.00</td>
            <td></td>
        </tr>
        <tr>
            <td>75 Mins</td>
            <td>$120.00</td>
            <td></td>
        </tr>
        <tr>
            <td>90 Mins</td>
            <td>$140.00</td>
            <td></td>
        </tr>
    </tbody>
</table>
