<table class="table" style="max-width: 65rem; margin: auto;">
  <thead>
    <tr>
      <th>Time</th>
      <th>Cost</th>
      <th>Note</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>90 Mins</td>
      <td>$110.00</td>
      <td>Initial treatment. A comprehensive patient intake and history, consultation on treatment plan, and treatment.</td>
    </tr>
    <tr>
      <td>60 Mins</td>
      <td>$80.00</td>
      <td>Follow-up treatment.</td>
    </tr>
    <tr>
      <td>45 Mins</td>
      <td>$65.00</td>
      <td>Follow-up treatment.</td>
    </tr>
  </tbody>
</table>

<br />

<h3>Body Work (Cupping/Gua Sha)</h3>
<table class="table" style="max-width: 65rem; margin: auto;">
  <thead>
    <tr>
      <th>Time</th>
      <th>Cost</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>75 Mins</td>
      <td>$115.00</td>
    </tr>
    <tr>
      <td>60 Mins</td>
      <td>$90.00</td>
    </tr>
    <tr>
      <td>45 Mins</td>
      <td>$70.00</td>
    </tr>
    <tr>
      <td>30 Mins</td>
      <td>$45.00</td>
    </tr>
  </tbody>
</table>

<br />

<h3>Packages</h3>
<table class="table" style="max-width: 65rem; margin: auto;">
  <thead>
    <tr>
      <th>Package</th>
      <th>Cost</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>5 Treatments</td>
      <td>$320.00</td>
    </tr>
    <tr>
      <td>10 Treatments</td>
      <td>$560.00</td>
    </tr>
  </tbody>
</table>