<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <header class="jumbotron jumbotron-fluid px-5">
      <div class="container-fluid">
        <h1>{{ site.title }}</h1>
        <p class="lead">{{ site.description }}</p>
        <hr class="my-4">
        <a target="_blank" href="https://book.click4time.com/cascadiamassagetherapy/book/step1" class="btn btn-primary btn-lg" role="button">Book</a>
      </div>
    </header>

    {{ content }}

  </body>

  {% include scripts.html %}

</html>